---
layout: page
title: "Error 404"
#redirect_from:
#- /css/
#- /html/
#- /html/posts/
#- /images/
#- /images/favicons
#- /projects/
#- /projects/moonphase
#- /projects/pimz
---
<!-- TODO -->
<div class="c404">
<h3>
<strong>
Page not found!
</strong>
</h3>
<br>
<p>The requested page could not be found.</p>
<p>Please use the menu on the left (press '&#x2630;' if the menu is hidden) to navigate this site.</p>
</div>
