{% if page.title != nil %}
  {%- assign title=page.title %}
  {%- if page.path contains '_posts/' or page.summary != nil %}
    {%- capture project %}{{ page.path | split: '/' | slice: 1,1 }}{% endcapture %}
    {%- assign logo=project | remove: ' ' | remove: '.html' | prepend: '/projects/' | append: '/logo.png' %}
    {%- if page.path contains '_posts/' %}
      {%- capture title %}{% include function_camelcase.html input_string=project %}{% endcapture %}
      {%- assign title=title | append: ' News' %}
    {%- endif %}
  {%- endif %}
{% else %}
  {%- capture page %}{{ page.path | split: '/' | slice: 1,1}}{% endcapture %}
  {%- capture title %}{% include function_camelcase.html input_string=page %}{% endcapture %}
{% endif %}
<header>
{% if logo != nil -%}
<img src="{{ logo }}" alt="{{ title }} Logo">
{% endif -%}
<h2>
{{ title }}
</h2>
</header>
<hr>
