<meta name="author" content="{{ site.author }}">
<meta name="copyright" content="{{ site.author }}">
<meta name="date" content="{{ site.time | date_to_rfc822 }}">
<meta name="description" content="{{ site.description }}">
<meta name="generator" content="Jekyll">
<meta name="google-site-verification" content="RgH2H8XOC1cuYryQUi-zZCASFtqph7g54Bdr6ZrdY08">
<meta name="keywords" content="{{ site.keywords }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
