<div class="cmenubutton cmenubutton-target" onclick="MenuButton_ToggleState()" title="Menu">
  <div class="cmenubutton-topbar"></div>
  <div class="cmenubutton-middleoverbar"></div>
  <div class="cmenubutton-middleunderbar"></div>
  <div class="cmenubutton-bottombar"></div>
</div>
