<div class="cmenubutton-target">
{% if page.name == 'index.html' -%}
  {% assign subclass='full' %}
{% else -%}
  {% assign subclass='split' %}
{% endif -%}
<div class="cnavpanel-content-{{ subclass }}">
<div class="cfooterpositioner">
<header>
{%- include navpanel-header.html -%}
</header>
<hr>
<nav>
{% include navpanel-body.html -%}
</nav>
</div>
<footer>
{% include navpanel-footer.html -%}
</footer>
</div>
</div>
