{% if site.connections != nil -%}
  {%- if site.connections.size != 0 -%}
<div class="cconnect">
<div class="ctitle">
CONNECT
</div>
<div>
  {%- for connection in site.connections -%}
    {%- if connection[1] != nil -%}
      {%- assign found=0 -%}
        {%- case connection[0] -%}
          {%- when 'email' -%}
            {% capture href %}mailto:{{connection[1]}}{% endcapture %}
            {% assign target='' %}
            {% assign title='Email' %}
            {% assign src="images/email.svg" %}
            {% assign alt="Email Icon" %}
            {% assign found=1 %}
          {%- when 'facebook' -%}
            {% capture href %}https://www.facebook.com/{{connection[1]}}{% endcapture %}
            {% assign target='target="_blank"' %}
            {% assign title='Facebook' %}
            {% assign src="images/facebook.svg" %}
            {% assign alt="Facebook Logo" %}
            {% assign found=1 %}
          {%- when 'gitlab' -%}
            {% capture href%}https://www.gitlab.com/{{connection[1]}}{% endcapture %}
            {% assign target='target="_blank"' %}
            {% assign title='GitLab' %}
            {% assign src="images/gitlab.svg" %}
            {% assign alt="GitLab Logo" %}
            {% assign found=1 %}
        {%- endcase -%}
        {%- if found != 0 %}
<a href="{{href}}" {{target}} title="{{title}}">
<img src="{{src}}" alt="{{alt}}">
</a>
        {%- endif %}
      {%- endif %}
    {%- endfor %}
</div>
</div>
  {%- endif -%}
{% endif -%}
