<div class="cnav-menu">
{%- assign pages = site.pages | sort: "order" | where_exp: "item", "item.order > 0 " %}
{%- for forpage in pages %}
  {%- unless forpage.url contains "-" %}
    {%- capture camelcase %}{% include function_camelcase.html input_string=forpage.name %}{% endcapture %}
<div class="cbutton">
    {%- if forpage.url != page.url %}
<a href="{{ forpage.url }}" title="{{ camelcase }}">
<div class="cnormal">
    {%- else %}
<div class="cselected">
    {%- endif %}
{{ camelcase }}
</div>
    {%- if forpage.url != page.url %}
</a>
    {%- endif %}
</div>
  {%- endunless %}
{%- endfor %}
</div>
