{% if include.d0 != nil or include.d1 != nil %}
<div class="cdownloadbox">
<div class="cdownloadbox-title">
{{ include.title }}
</div>
  {%- if include.d0 != nil %}
<a class="cdownloadbox-button-enabled" href="{{ include.root | append: include.d0 }}" download>
  {%- else %}
<a class="cdownloadbox-button-disabled">
  {%- endif %}
{{ include.t0 -}}
</a>
<div>
  {%- if include.d1 != nil %}
<a class="cdownloadbox-button-enabled" href="{{ include.root | append: include.d1 }}" download>
  {%- else %}
<a class="cdownloadbox-button-disabled">
  {%- endif %}
{{ include.t1 -}}
</a>
</div>
</div>
{% endif -%}
