a {
  color: $color-5;
  text-decoration: none;

  // External link indicator.
  &[target='_blank'] {
    &:not([title]) {
      &::after {
        background: url('/images/external-link.svg') no-repeat top right;
        background-size: .75rem .75rem;
        content: '';
        display: inline-block;
        height: .75rem;
        padding: 0 .1rem;
        width: .75rem;
      }
    }
  }
}

// Site title.
h1 {
  color: $color-1;
  font-size: 2.5rem;
  margin: 0 0 1rem;
}

// Page heading.
h2 {
  color: $color-1;
  font-size: 2rem;
}

// Post heading, project section heading.
h3 {
  color: $color-1;
  font-size: 1.5rem;
  // line-height: 1rem;
  margin-bottom: .5rem;
}

// Post section heading.
h4 {
  color: $color-1;
}

hr {
  border-color: $color-2 $color-3 $color-3 $color-2;
  border-style: solid;
  border-width: 1px;
  display: block;
  margin: 0 auto;
  padding: 0;
}

html {
  background-color: $html-background-image-color;
  background-image: url($html-background-image);
  background-repeat: repeat;
  color: $color-debug;
  font-family: arial;
  height: 100vh;
  text-align: center;
}

%cicon {
  height: 4rem;
  width: 4rem;
}

%texthr {
  margin: 0;
  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    margin-left: -50%;
    right: .5em;
  }

  &::after {
    left: .5em;
    margin-right: -50%;
  }
}
