%ccontentbox {
  @extend %cbox;
  background-color: $color-3;
  color: $color-1;
  padding: 1rem;
}

%ccontentbox-date {
  color: $color-1;
}

%ccontentbox-image {
  color: inherit;   // Keep class "not empty".
}

%ccontentbox-title {
  color: $color-1;
}

%ccontentbox-description {
  color: $color-5;
}
