// Mobile
// - Content is displayed by default (except on home page).
// - Menu button is visible.
// - Navigation menu is toggled on or off using the menu button.
@media only screen and (max-width: $media-breakpoint-phone-maximum) {
  .cmenubutton {
    display: inline-block;
  }

  // Position and size of the navigation bar on the non-index pages.
  .cnavpanel-content-split {
    left: -100%;
    width: 100%;
  }

  // Position and size of the content on the non-index pages.
  .ccontentpanel {
    left: 0;
    width: 100%;
  }
}

// Tablet
// - Content is displayed by default (except on home page).
// - Menu button is visible.
// - Navigation menu is toggled on or off using the menu button.
@media only screen and (min-width: $media-breakpoint-phone-maximum + 1px) and (max-width: $media-breakpoint-tablet-maximum) {
  .cmenubutton {
    display: inline-block;
  }

  // Position and size of the navigation bar on the non-index pages.
  .cnavpanel-content-split {
    left: -100%;
    width: 100%;
  }

  // Size of the content on the non-index pages.
  .ccontentpanel {
    left: 0;
    width: 100%;
  }
}

// Desktop
// - Content is displayed by default (except on home page).
// - Menu button is hidden.
// - Navigation menu is visible.
@media only screen and (min-width: $media-breakpoint-tablet-maximum + 1px) {
  .cmenubutton {
    display: none;
  }

  // Position and size of the navigation bar on the non-index pages.
  .cnavpanel-content-split {
    left: 0;
    width: $navpanel-width;
  }

  // Position and size of the content on the non-index pages.
  .ccontentpanel {
    left: $navpanel-width;
    width: 100% - $navpanel-width;
  }
}
