.cmenubutton {
  cursor: pointer;
  left: 1.5rem;
  position: fixed;
  top: 1.5rem;
  z-index: 100;
}

// Make part of .cmenubutton? { }
%cmenubutton-bars {
  background-color: $page-menubutton-color;
  height: 5px;
  transition: .4s;
  width: 35px;
}

.cmenubutton-topbar {
  @extend %cmenubutton-bars;
  margin: 6px 0;
}

.cmenubutton-middleoverbar {
  @extend %cmenubutton-bars;
  margin: 0;
}

.cmenubutton-middleunderbar {
  @extend %cmenubutton-bars;
  margin: -5px 0;
}

.cmenubutton-bottombar {
  @extend %cmenubutton-bars;
  margin: 11px 0;
}

.cmenubutton-toggle {

  .cmenubutton-topbar {
    opacity: 0;
    transform: translate(0, -16px);
  }

  .cmenubutton-middleoverbar {
    transform: rotate(45deg);
  }

  .cmenubutton-middleunderbar {
    transform: rotate(-45deg);
  }

  .cmenubutton-bottombar {
    opacity: 0;
    transform: translate(0, 16px);
  }

  // When if toggle class is active, show the nav panel.
  .cnavpanel-content-split {
    left: 0;
    width: 100%;
  }
}
