%cnavbutton-normal {
  @extend %cbox;
  background-color: $cnavbutton-color-0;
  border-color: $cnavbutton-color-0;
  color: $color-5;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem auto;
  padding: .75rem;
}

%cnavbutton-highlighted {
  @extend %cnavbutton-normal;
  background-color: $cnavbutton-color-0;
  box-shadow: 0 0 40px 15px $cnavbutton-color-0;
}

%cnavbutton-selected {
  @extend %cnavbutton-normal;
  background-color: $cnavbutton-color-1;
}
