// Height of 'connect' container. TODO
$navpanel-connect-height:
$navpanel-connect-title-font-size + 1.3rem  // 'CONNECT' text.
+ $navpanel-connect-icon-padding            // Top icon padding.
+ $navpanel-connect-icon-size               // Icon.
+ $navpanel-connect-icon-padding;           // Bottom icon padding.

// Height of 'copyright' container. TODO
$navpanel-copyright-height:
$navpanel-copyright-margin + .8rem          // Copyright top margin.
+ $navpanel-copyright-font-size;            // Copyright text.

%cnavpanel {
  background-color: $navpanel-background-image-color;
  background-image: url($navpanel-background-image);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  padding: .75rem $div-standard-padding-lr;

  .cfooterpositioner {
    // Height = Screen - 'CONNECT' - Horizontal line - Copyright
    height: calc(100vh - #{$navpanel-connect-height} - #{$navpanel-copyright-height});
    min-height: 28rem;
  }

  header {
    img {
      @extend %cicon;
    }
  }

  nav {
    .cbutton {
      margin: 0 auto;
      width: 14rem;

      .cnormal {
        @extend %cnavbutton-normal;

        &:hover {
          @extend %cnavbutton-highlighted;
        }
      }

      .cselected {
        @extend %cnavbutton-selected;
      }
    }
  }

  footer {
    .cconnect {
      display: inline-block;
      margin: 0 auto;

      img {
        height: $navpanel-connect-icon-size;
        margin: 0 auto;
        padding: $navpanel-connect-icon-padding;
        transition-duration: $navpanel-connect-icon-transition-duration;
        width: $navpanel-connect-icon-size;

        &:hover {
          transform: scale(1.5, 1.5);
          transition-property: filter, transform;
        }
      }

      .ctitle {
        @extend %texthr;
        color: $color-1;
        font-size: $navpanel-connect-title-font-size;
        font-weight: bold;
        min-width: 8rem;

        &::before,
        &::after {
          background-color: $color-2;
        }
      }
    }

    .ccopyright {
      .ctitle {
        color: $color-1;
        font-size: $navpanel-copyright-font-size;
        margin-top: $navpanel-copyright-margin;
      }
    }
  }
}

// Navigation bar on the index page.
.cnavpanel-content-full {
  @extend %cnavpanel;
  box-sizing: border-box;
  left: 0;
  width: 100%;
}

// Navigation bar on everything except the index page.
.cnavpanel-content-split {
  @extend %cnavpanel;
  position: fixed;
  z-index: 50;
}
