.cnews-content {
  margin: 0 $div-standard-padding-lr;

  .cdate {
    @extend %ccontentbox-date;
    font-size: .8rem;
  }

  .cdescription {
    @extend %ccontentbox-description;
    line-height: 1.5em;
  }

  .cimage {
    @extend %ccontentbox-image;
    display: inline-block;
    float: left;
    line-height: 1em;
    margin: 0;
    padding: 0;
  }

  .cpost {
    @extend %ccontentbox;
    margin: 1.5rem auto;
    min-height: 3.9rem;

    &:hover {
      border-radius: .75rem;
      box-shadow: 0 0 25px 10px $contentbox-color-0;
    }
  }

  h3 {
    @extend %ccontentbox-title;
    font-size: 1.25rem;
    line-height: 1rem;
    margin: .25rem 0;
    padding-top: .25rem;
    text-align: left;
  }

  .cwrapper {
    margin: 0 0 0 4.5rem;
    text-align: left;
  }
}

.cnews-navigation {
  display: table;

  %clabel {
    color: $color-1;
    display: table-cell;
    padding: .75rem 0;
  }

  .cnewerlabel {
    @extend %clabel;
    text-align: left;
    width: 50%;
  }

  .colderlabel {
    @extend %clabel;
    text-align: right;
    width: 50%;
  }

  .cpageslabel {
    @extend %clabel;
    text-align: center;
    white-space: nowrap;
  }

  %cbutton {
    border-radius: .5rem;
    display: inline-block;
    font-size: 1rem;
    margin: .25rem;
    padding: .5rem;
  }

  .cbutton-normal {
    @extend %cnavbutton-normal;
    @extend %cbutton;

    &:hover {
      @extend %cnavbutton-highlighted;
      @extend %cbutton;
    }
  }

  .cbutton-selected {
    @extend %cnavbutton-selected;
    @extend %cbutton;
  }
}

.cnews-footerpositioner {
  min-height: calc(100vh - 16rem); // TODO
}
