.cpost-content {
  margin: 0 $div-standard-padding-lr;

  .cdate {
    color: $color-1;
    font-size: 1rem;
  }

  .ccontent {
    color: $color-2;
  }
}

.cpost-navigation {
  display: table;
  width: 100%;

  .cspacer {
    display: table-cell;
  }

  %clabel {
    color: $color-1;
    display: table-cell;
    padding: .75rem 0;
    width: 20%;
  }

  .cnewerlabel {
    @extend %clabel;
    text-align: left;
  }

  .colderlabel {
    @extend %clabel;
    text-align: right;
  }

  .cuplabel {
    @extend %clabel;
    text-align: center;
  }

  %cbutton {
    border-radius: .5rem;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    margin: .25rem 0;
    overflow: hidden;
    padding: .5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .cbutton-normal {
    @extend %cnavbutton-normal;
    @extend %cbutton;

    &:hover {
      @extend %cnavbutton-highlighted;
      @extend %cbutton;
    }
  }

  .cbutton-selected {
    @extend %cnavbutton-selected;
    @extend %cbutton;
  }
}

.cpost-footerpositioner {
  min-height: calc(100vh - 20rem);  // TODO
  text-align: justify;
}
