.cproject-content {
  text-align: left;

  p {
    color: $color-2;
  }

  .cdownloads {
    text-align: center;

    .cdownloadbox {
      @extend %ccontentbox;
      background-color: $color-3;
      color: $color-1;
      display: inline-block;
      margin: .75rem .5rem;
      width: 12rem;

      .cdownloadbox-title {
        @extend %ccontentbox-title;
        height: 2rem;
      }
    }

    %cdownloadbox-button {
      border: 1px solid $color-1;
      border-radius: .5rem;
      display: block;
      margin: 1rem 0 0;
      padding: .75rem;
      text-align: center;
    }

    .cdownloadbox-button-enabled {
      @extend %cdownloadbox-button;
      background-color: $cdownloadbox-color-0;

      &:hover {
        background-color: $cdownloadbox-color-1;
      }
    }

    .cdownloadbox-button-disabled {
      @extend %cdownloadbox-button;
      background-color: $color-6;
      border-color: $color-7;
      color: $color-8;
    }
  }
}
