.csoftware-content {
  margin: 0 $div-standard-padding-lr;

  .citem {
    @extend %cbox;
    background-color: $color-3;
    border-color: $color-1;
    display: inline-block;
    margin: 1rem .5rem;
    padding: .75rem;
    width: 16rem;

    &:hover {
      border-radius: .75rem;
      box-shadow: 0 0 25px 10px $contentbox-color-0;
    }

    h3 {
      margin: .5rem;
    }

    .csummary {
      font-size: 1.25rem;
      height: 3rem;
      overflow: hidden;
    }
  }
}
