// TODO

//// Menu button icon color.
$page-menubutton-color: #fff;

// Element colors.
$color-1: #ddf;   // Pale blue.
$color-2: #6c7;   // Light green.
$color-3: #586;   // Dark green.
//$color-4: #336;   // Dark blue.
$color-5: #607;   // Dark purple.
$color-6: rgba(64, 64, 64, .75);  // Box disabled background.   //#666?
$color-7: rgba(96, 96, 96, .75);  // Box disabled border.       //#AAA?
$color-8: rgba(96, 96, 96, .75);  // Box disabled text.         //#222?

$contentbox-color-0: rgba(255, 255, 255, .6);

$cnavbutton-color-0: rgba(224, 240, 224, .6);
$cnavbutton-color-1: rgba(224, 240, 224, 1);

$cdownloadbox-color-0: rgba(224, 224, 255, .4);
$cdownloadbox-color-1: rgba(224, 224, 255, .8);

$color-debug: #ff0; // Yellow.


$line-height: 1.1;  // TODOD

// Media breakpoints.
$media-breakpoint-phone-maximum: 400px;
$media-breakpoint-tablet-maximum: 960px;

// Width of the navigation bar.
$navpanel-width: 30%;

//// Mean color of the page background image.
//$page-background-color-mean: #000;
//
//// Mean color of the navpanel background image.
//$navpanel-background-color-mean: #000;

// Navigation bar footer connect definitions.
$navpanel-connect-title-font-size: .75rem;
$navpanel-connect-icon-padding: .75rem;
$navpanel-connect-icon-size: 2rem;
$navpanel-connect-icon-transition-duration: .15s;

// Navigation panel copyright definitions.
$navpanel-copyright-font-size: .9rem;
$navpanel-copyright-margin: .45rem;

$div-standard-padding-lr: 2.5%;

$html-background-image: '/images/background.jpg';
$html-background-image-color: #0f170a;      // Median color.

$navpanel-background-image: '/images/nav-background.jpg';
$navpanel-background-image-color: #242935;  // Median color.
