---
layout:     post
sitemap:    true
title:      Facebook
---
<p>I have decided to stop using 
<a href="https://www.facebook.com/help/224562897555674" target="_blank">Facebook</a>
<strong>COMPLETELY</strong>. I 
deleted my personal profile a few years ago, but continued to use it for 
non-personal pages 
(<a href="https://www.facebook.com/awisesoftware" target="_blank">A.Wise Software</a>
and 
<a href="https://www.facebook.com/MoonPhaseApplication" target="_blank">Moon Phase</a>).
Given all of the scandals, hacks, and privacy abuses, I have decided I no longer want any association with the company.
<br>
<br>
Here is a short list of some of the problems I find most concerning:
<ul>
<li>
<a href="http://time.com/5205314/facebook-cambridge-analytica-breach/" target="_blank">Cambridge Analytica</a>
</li>
<li>
<a href="https://http://fortune.com/2018/11/05/before-midterms-facebook-election-meddling-worse-than-ever/" target="_blank">Meddling in U.S. elections</a>
</li>
<li>
<a href="https://www.cnn.com/2018/10/04/tech/facebook-hack-explainer/index.html" target="_blank">October 2018 hacks</a>
</li>
<li>
<a href="https://www.nytimes.com/interactive/2018/06/03/technology/facebook-device-partners-users-friends-data.html" target="_blank">Data sharing</a>
</li>
</ul>
Here is a <a href="https://www.businessinsider.com/facebook-all-social-network-scandals-2018-12" target="_blank">summary of just 2018</a>, and, today, as I write this post, a new scandal has been revealed: <a href="https://www.washingtonpost.com/national/memos-facebook-allowed-friendly-fraud-to-profit-from-kids/2019/01/25/f784f070-20ee-11e9-a759-2b8541bbbe20_story.html" target="_blank">"friendly fraud"</a>.
<br>
<br>
As a result, on Friday, 1 February 2019, the <a href="https://www.facebook.com/awisesoftware" target="_blank">A.Wise Software</a>
page and the
<a href="https://www.facebook.com/MoonPhaseApplication" target="_blank">Moon Phase</a> page will be deleted.
<br>
<br>
Do your own research and make your own decisions. Stay safe out there!
</p>
