---
layout:     post
sitemap:    true
title:      Website update
---
<p>
  Just a quick, very minor update to the website. Not really much to it other
  than making the copyright date current through 2022 and a couple of simple
  formatting fixes.
  <br>
  <br>
  Happy holidays!
</p>
