---
layout: page
order: 1
pagination:
  # Pagination generation enabled for this page.
  enabled: true
  # Default name of the index file for generated pages (e.g. 'index.html').
  indexpage: 'news'
title: News   # Seems that paginator defaults to site.title.
---
<div class="cnews-content cnews-footerpositioner">
<div>
{%- for post in paginator.posts %}
  {%- capture project %}{{ post.path | split: '/' | slice: 1,1}}{% endcapture %}
  {%- capture project_camel %}{% include function_camelcase.html input_string=project %}{% endcapture %}
  {%- assign project_nospaces=project | replace: ' ','' -%}
<a href="{{ post.url }}">
<section class="cpost">
<div class="cimage">
<img class="clogo" src="projects/{{ project_nospaces }}/logo.png" alt="{{ project_camel }} Post Icon">
</div>
<div class="cwrapper">
<h3>
{{ post.title }}
</h3>
<div class="cdate">
{{ post.date | date: "%A, %-d %B %Y" }}
</div>
<div class="cdescription">
{{ post.content | strip_html | truncatewords:30 }}
</div>
</div>
</section>
</a>
{%- endfor -%}
</div>
</div>
{% if paginator.page_trail -%}
<hr>
<div class="cnews-navigation">
<div class="cnewerlabel">
Newer
<br>
{%- if paginator.page > 1 %}
<a class="cbutton-normal" style="margin-left: 0;" href={{ paginator.previous_page_path }}>
&#x2190;
</a>
{% endif %}
</div>
<div class="cpageslabel">
Pages<br>
{% if paginator.page_trail %}
  {% for trail in paginator.page_trail %}
    {% if paginator.page == trail.num %}
      {% assign Class="cbutton-selected" %}
    {%else%}
      {% assign Class="cbutton-normal" %}
<a href="{{ trail.path }}" title="{{ trail.title }}" >
    {% endif %}
<div class="{{ Class }}">
{{ trail.num }}
</div>
    {% if paginator.page != trail.num %}
</a>
    {% endif %}
  {% endfor %}
{% endif %}
</div>
<div class="colderlabel">
Older
<br>
{%- if paginator.page < paginator.total_pages -%}
<a class="cbutton-normal" style="margin-right: 0;" href={{ paginator.next_page_path }}>
&#x2192;
</a>
{% endif %}
</div>
</div>
{%- endif -%}
