---
layout: page
order: 2
---
<div class="csoftware-content">
{% for project in site.data.projects %}
  {% if project.deleted -%}
  {% else %}
  {% capture project_camel %}{% include function_camelcase.html input_string=project.name %}{% endcapture %}
  {% assign project_nospaces=project.name | replace: ' ','' %}
<a href="{{ project.name | prepend: 'html/' | append: '.html' }}">
<section class="citem">
<img class="csoftware-item-image" src="projects/{{ project_nospaces }}/logo.png" alt="{{ project_camel }} Project Icon">
<h3>
{{ project.title }}
</h3>
<div class="csummary">
{{ project.summary }}
</div>
</section>
</a>
  {% endif %}
{% endfor %}
</div>
