---
layout: default
---
<div class="cpost-content">
<div class="cpost-footerpositioner">
<article>
<h3>
{{ page.title }}
</h3>
<div class="cdate">
{{ page.date | date: "%A, %-d %B %Y" }}
</div>
<div class="ccontent">
{{ content }}
</div>
</article>
</div>
</div>
<hr>


<div class="cpost-navigation">
<div class="cnewerlabel">
Newer
<br>
{% if page.next.url != nil %}
<a class="cbutton-normal" href="{{ page.next.url }}">
{{ page.next.title }}
</a>
{% endif %}
</div>
<div class="cspacer">
</div>
{% assign index=0 %}
{% for post in site.posts %}
  {% if post == page %}
    {% break %}
  {% endif %}
  {% assign index=index | plus: 1 %}
{% endfor %}
{% assign pagenumber=index | divided_by: site.pagination.per_page | plus: 1 %}
<div class="cuplabel">
Up
<br>
{% if pagenumber == 1 %}
<a class="cbutton-normal" href="/html/news.html">
News
{% else %}
<a class="cbutton-normal" href="/html/news-{{ pagenumber }}.html">
News : Page {{ pagenumber }}
{% endif %}
</a>
</div>
<div class="cspacer">
</div>
<div class="colderlabel">
Older
<br>
{% if page.previous.url != nil %}
<a class="cbutton-normal" href="{{ page.previous.url }}">
{{ page.previous.title }}
</a>
{% endif %}
</div>
</div>
