---
layout: default
---
<div class="cproject-content">
{% if page.deleted %}
<h4>This project is no longer maintained. This page exists simply to prevent HTTP 404 errors ("not found") and to inform any clients that the page is no longer valid. In a future web site update, this page will be removed completely.</h4>
{% elsif page.maintenance -%}
<p>{{ page.description }}</p>
<h4>This project is currently undergoing major updates. The project information will return when the updates are complete.</h4>
{% else -%}
<h3>About</h3>
<p>
{{ page.description }}
</p>
<p>
The latest version is {{ page.version }} ({{ page.date | date: "%-d %B %Y" }}).
</p>

{%- assign list= site.static_files
    | where_exp: "item", "item.path contains page.project"
    | where_exp: "item", "item.path contains 'screenshot'" -%}

{% if list.size != 0 -%}
<h3>Screen Shots</h3>
<!--    TODO-->
<p>
{% for file in list -%}
  {{ file.name }}
{% endfor -%}
</p>
{% endif -%}

{%- if page.dlflag != empty %}
<h3>Downloads</h3>
<p>All downloads (except the source code) are for i386 (32 bit) or x86-64 (64 bit) architectures.</p>
<div class="cdownloads">
  {% include project-downloadbox.html title="Source code archives"
      root=page.dlbase t0="tar.gz" d0=page.tgzsrc t1="zip" d1=page.zipsrc %}
  {% include project-downloadbox.html title="Debian based Linux installer (deb)"
      root=page.dlbase t0="32 bit" d0=page.deb32 t1="64 bit" d1=page.deb64 %}
  {% include project-downloadbox.html title="Red Hat based Linux installer (rpm)"
      root=page.dlbase t0="32 bit" d0=page.rpm32 t1="64 bit" d1=page.rpm64 %}
  {% include project-downloadbox.html title="macOS installer"
      root=page.dlbase t0="32 bit" d0=page.mac32 t1="64 bit" d1=page.mac64 %}
  {% include project-downloadbox.html title="Windows installer"
      root=page.dlbase t0="32 bit" d0=page.win32 t1="64 bit" d1=page.win64 %}
{% endif %}
{% if page.olddls != nil %}
<br>
<a class="cenabled" href="{{ page.olddls }}" target="_blank">Previous versions</a>
{% endif -%}
</div>

<!--
<h3>
Host? (problems, instructions, etc)
</h3>
<p>
TODO?
</p>
-->

<h3>
License
</h3>
{% include project-gplv3-brief.html copyrightdates=page.copyrightdates -%}
{% if page.rawrepo != nil -%}
<p>
See <a href="{{ page.rawrepo | append: "documentation/license.txt" }}" target="_blank">
documentation/license.txt</a> for details.
</p>
{% endif -%}
{% endif -%}
</div>
{%- comment %}{% endcomment -%}
