---
#layout: compress
---
<!DOCTYPE html>
<html{% if site.language %} lang="{{ site.language }}"{% endif %}>
<head>
<meta charset="utf-8">
{% if page.deleted -%}
<meta http-equiv="Status" content="410 Gone" />
{% endif -%}
{%- include head.html -%}
</head>
<body>
{% if page.name != 'index.html' %}
  {%- include menubutton.html %}
{% endif %}
{% include navpanel.html -%}
{{ content -}}
{% include javascript.html -%}
</body>
</html>
